/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {
	float: left;
	width: 100%;
}

.main-content {
	float: left;
	width: 100%;
}
/* hint! */

.logo {
	/* hint! */
	float: left;
}

.navigation {
	/* hint! */
	float: right;
}

.post {
	clear: both;
	float: left;
	width: 100%
}
/* hint! */

.image {
	width: 150px;
	height: 150px;
	float: left;
}

.post_excerpt {
	float: right;
	width: 1000px;

}
