/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 08 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {}


.sidebar {
	width: 250px;
	float: left;
	height: 250px;
}

.main-content {
	width: 484px;
	float: left;
	height: 250px;
}

.sub-content {
	width: 250px;
	float: left;
	height: 250px;
}


.footer {
	clear: both;
}
