/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 04 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {
	width: 984px;
	float: left;
	
}
/* hint! you have to contain the floated children elements. */

.logo {
	/* hint! */
	float: left;
}

.navigation {
	/* hint! */
	float: right;
}

.sidebar {
	float: left;
	width: 250px;
	height: 250px;
}

.main-content {
	float: left;
	/* hint! */
	width: 734px;
	height: 250px;
}

.footer {
	/* hint! */
	clear: both;
}