/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {}

.main-content {}
/* hint! */

.post {
	clear: both;
	float: left;
	width: 100%
}
/* hint! */

.image {
	width: 150px;
	height: 150px;
	float: left;
}

.post_excerpt {
	float: right;
	width: 1000px;

}
