/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
	width: 984px;
	float: left;
}
/* hint! what do you have to add here? */

.logo {
	/* hint! */
	float: left;
	width: 250px;
}

.navigation {
	/* hint! */
	float: right;
	width: 650px;
}

.sidebar {
	float: left;
	width: 250px;
}

.main-content {
	float: left;
	clear:both;
}
/* hint! you have to contain the floated children elements. */

.sub-content {
	/* hint! */
	float: right;
	width: 650px;
	margin-bottom: 20px;
}
.sub-content-2 {
	/* hint! */
	float: right;
	width: 650px;
}

.footer {
	clear: both;
}